@import './styles/tutorial-animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 1rem;
    --background: 0 0% 97%;
    --foreground: 0 0% 29%;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

@layer components {
  .btn-3d {
    @apply transition-all active:translate-y-1 active:border-b-0;
  }
}



img {
  object-position: top;
}